---
import type { CollectionEntry } from "astro:content";
import Testimonial from "./content-card.astro";

interface Props {
  heading: string;
  desc: string;
  features: CollectionEntry<"patterns" | "principles" | "react-patterns">[];
}

const { heading, desc, features }: Props = Astro.props;
---

<div class="container mx-auto space-y-5">
  <div>
    <h2 class="text-xl md:text-2xl font-bold font-anekBangla">{heading}</h2>
    <p class="text-lg md:text-xl font-hind-siliguri">{desc}</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full">
    {
      features.map((content) => (
        <Testimonial
          title={content.data.title}
          desc={content.data.description}
          collection={content.collection}
          slug={content.slug}
        />
      ))
    }
  </div>
</div>
