---
import Testimonial from "./Testimonial.astro";
import { testimonials } from "../../data/testimonials";
---

<div class="testimonial-grid container mx-auto my-10">
  {
    testimonials.map((testimonial) => (
      <Testimonial
        quote={testimonial.quote}
        name={testimonial.name}
        title={testimonial.title}
        avatar={testimonial.avatar}
        platform={testimonial.platform}
      />
    ))
  }
</div>

<style scoped>
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    width: 100%;
  }

  @media (min-width: 768px) {
    .testimonial-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .testimonial-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
